<section class="home"></section>
<nav class="navbar navbar-dark navbar-fixed-top">
  <div class="container">
    <div class="row">
  <div class="col-md-7">
  <a class="navbar-brand display-1" href="#">SONS OF VANCOUVER DISTILLERY</a>
</div>
  <div class="col-md-5">
    <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
      &#9776;
    </button>
  <div class="collapse navbar-toggleable-sm pull-xs-right" id="exCollapsingNavbar2">
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Indiegogo</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Spirits <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Distillery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Cocktails</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Media</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Map</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Store</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Insta</a>
      </li>
    </ul>
  </div>
  </div>
</div>
</div>
</nav>
 <!-- <div class="container pos-f-t">
<div class="row p-y-1">
  <div class="col-md-6">
    <h2>SONS OF VANCOUVER DISTILLERY</h2>
  </div>
  <div class="col-md-6">
    <ul class="nav nav-inline text-xs-right">
<li class="nav-item">
  <a class="nav-link active" href="#">Spirits</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#">Distillery</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#">Cocktails</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#">Media</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#">Contact</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#">Map</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#">Store</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#">Insta</a>
</li>
</ul>

  </div>
</div>
</div>  -->
