@import 'https://fonts.googleapis.com/css?family=Fira+Sans:400,400i';
@import url(0-tools/bootstrap.min.css);
.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6 {
  color: #BD5248; }

a {
  color: #BD5248;
  text-decoration: none;
  outline: 0; }

a:hover, a:focus {
  color: #d89993; }

::-moz-selection {
  background: #FFF498; }

::selection {
  background: #FFF498; }

::-moz-selection {
  background: #FFF498; }

img::-moz-selection {
  background: transparent; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: #FFF498; }

html,
body {
  min-height: 100vh; }

body {
  background: #F6F6F8;
  font-size: 14px;
  line-height: 1.6;
  color: #2E2D33;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

.home {
  height: 100vh;
  background-image: url(../img/amaretto1.jpg);
  background-size: cover;
  background-position: center; }
